/* global */

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    box-sizing: border-box;
}


#heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #ffffff;
    float: left;
    font-size: 2em;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}


h2, {
    clear:both;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #777777;
    padding-bottom: 20px;
    font-size: 2em;
}

p, 
body{
    color:#777777;
}

.footer{
    clear:both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    padding:20px 10px 10px 10px;
}

/* Containers */

.container-headernav{
    max-width: 960px;
    margin: auto;
}
.container-bio,
.container-contact,
.container-portfolio{
    clear:both;
    background-image: url("../../assets/images/dust_scratches.png");
    background-repeat: repeat;
    background-color: #cccccc;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid green;
}

/* navigation */
#navbar {
    float: right;
}

#navbar ul{
    list-style: none; 
}

#navbar li{
    display: inline;
}

#navbar a{
    text-decoration: none;
    padding-right: 30px;
}

/* About Page*/

#bio-image{
    float:left;
    padding-right: 10px; 
    width: 250px;
    height: 250px; 
}

/* Contact Page */

#contact form{
    box-sizing: border-box;
    max-width: 960px;
    padding-left:10px;  
}

#main-bio,
#contact,
#portfolio{
    clear:both;
    border-top: 2px solid lightgray;
    padding: 20px;
    background-color: white;
    max-width: 960px;
    margin: auto;    
    border:  2px solid blue;
}


/* Contact Inputs */
input[type=button]{
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100px;
    height: 25px;
}

input[type=text],
input[type=email]{
    padding-top: 5px;
    padding-left:10px;
    width: 95%;
    height:35px;
}

textarea{
    max-width: 95%;
    min-width: 95%;
    width: 95%;
    min-height: 75px;
    max-height: 200px;
    height: 75px;
    padding-top: 5px;
    padding-left:10px;
}

/* Portfolio grid */
#portfolio .wrapper{
    border: 2px solid red;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-gap:10px;
    padding: 20px;
}

.grid-item{
    border: 2px solid black;
    max-width: 375px;
    max-height: 225px;
    align-self: center;
    justify-self: center;
    position: relative;
    padding-top:3px;
}

.grid-item-caption {
    position: absolute;
    background-color: #4aaaa5;
    bottom: 30px;
    width: 100%;
    max-width: 350px;
    max-height: 50px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

